div
    p.
        {{article.articleId}}
    p.
        {{article.name}}
    p.
        {{article.prodType}}
    p.
        {{article.producer}}
    p.
        {{article.volume}} ml
    p.
        {{article.alcoholPercent}}
    p.
        {{article.price}} kr